.footer {
  background: #2e2e2e;
  color: white;
  @include padding__top-bottom(100px, 0px);

  .footer-top {
    display: flex;
    justify-content: space-evenly;
    @include margin__top-bottom(0px, 50px);
  }

  .footer-bottom {
    border-top: 1px solid #525252;
    @include padding__top-bottom(30px);
  }
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;

  .footer-links{
    li {
      float: left;
      @include margin__left-right(10px);

      .footer-link {
        text-transform: capitalize;
      }
    }
  }
}

.social-links,
.footer-links {
  list-style: none;
}

.footer-email,
.social-link {
  display: inline-block;
  @include padding__top-bottom(10px);
}
