.home-hero-image {
  margin: 0 auto;
  max-width: 750px;
}

.home-hero-content {
  text-align: center;
  @include padding__top-bottom(90px, 50px);

  @include breakpoint-custom($screen-xs-max) {
    @include padding__top-bottom(100px, 0px);
    @include padding__left-right($left: 50px);
  }

  .home-hero-text {
    @include font-sizer(18px);
  }
}

.home-services {
  text-align: center;
  @include padding__top-bottom(120px);

  .services-list {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    .service-link {
      flex: 1;
      @include margin__top-bottom(0px, 120px);
      @include margin__left-right(25px);
    }
  }
}

.home-cta {
  @include padding__top-bottom(0px, 100px);
  .btn-container {
    text-align: center;
    margin-top: 30px;
  }
}

.recent-projects-content {
  display: flex;
  @include margin__top-bottom(0px, 120px);

  .left {
    flex: 1;
    align-self: center;

    .sub-title {
      text-transform: capitalize;
    }
  }

  .right {
    flex: 2;
    display: flex;
    @include padding__left-right(8px);

    .project-column {
      @include padding__left-right(12px);
    }

    .column-left {
      .box:first-of-type {
        @include margin__top-bottom(0px, 65px);
      }
    }

    .column-right {
      align-self: center;
    }
  }
}

.home-about-content {
  display: flex;
  align-items: center;
  @include margin__top-bottom(0px, 120px);

  .home-about-text {
    flex: 1;
    order: 1;
    .sub-title {
      text-transform: capitalize;
    }
  }

  .home-about-image {
    flex: 1;
  }
}

.box {
  background-color: red;
}
