.home-hero-image {
  margin: 0 auto;
  max-width: 750px;
}

.home-hero-content {
  text-align: center;
  @include padding__top-bottom(90px, 50px);

  @include breakpoint-custom($screen-xs-max) {
    @include padding__top-bottom(100px, 0px);
    @include padding__left-right($left: 50px);
  }

  .home-hero-text {
    @include font-sizer(18px);
  }
}

.home-services {
  text-align: center;
  @include padding__top-bottom(100px);

  .services-list {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint-custom($screen-xs-max) {
      flex-direction: row;
    }
    .service-link {
      flex: 1;
      @include margin__top-bottom(0px, 100px);
      @include margin__left-right(25px);

      .service-title {
        @include font-sizer(18px);
        @include margin__top-bottom(20px, 0px);
      }
    }
  }
}

.home-cta {
  @include padding__top-bottom(0px, 100px);
  .btn-container {
    text-align: center;
    margin-top: 30px;
  }
}

.recent-projects-content {
  display: flex;
  flex-direction: column;
  @include margin__top-bottom(0px, 60px);

  @include breakpoint-custom($screen-xs-max) {
    flex-direction: row;
    @include margin__top-bottom(0px, 100px);
  }

  .left {
    flex: 1;
    align-self: center;
    text-align: center;

    @include breakpoint-custom($screen-xs-max) {
      text-align: left;
    }

    .sub-title {
      text-transform: capitalize;
    }
  }

  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    @include padding__left-right(8px);

    @include breakpoint-custom($screen-xs-max) {
      flex-direction: row;
    }

    .project-column {
      padding: 0;

      @include breakpoint-custom($screen-xs-max) {
        @include padding__left-right(12px);
      }
    }

    .column-left {
      @include breakpoint-custom($screen-xs-max) {
        .box:first-of-type {
          @include margin__top-bottom(0px, 65px);
        }
      }
    }

    .column-right {
      align-self: center;
    }
  }
}

.home-about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @include margin__top-bottom(0px, 100px);

  @include breakpoint-custom($screen-xs-max) {
    flex-direction: row;
  }

  .home-about-text {
    flex: 1;

    @include breakpoint-custom($screen-xs-max) {
      order: 1;
    }

    .sub-title {
      text-transform: capitalize;
    }
  }

  .home-about-image {
    flex: 2;
  }
}

.box {
  background-color: red;
  @include margin__top-bottom(15px);

  @include breakpoint-custom($screen-xs-max) {
    margin: 0;
  }
}
