@import './vars';
@import './mixins/mixins';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

img {
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-family: $fontFamily;
  font-size: 17px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  @include margin__left-right-auto();
  @include padding__left-right($left: 15px);

  @include breakpoint-custom($screen-xs-max) {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}

.title {
  font-weight: bold;
  text-transform: capitalize;
  @include font-sizer(34px);
}

.sub-title {
  font-weight: bold;
  @include font-sizer(28px);

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.mini-title {
  text-transform: capitalize;
  @include font-sizer(22px);
}

.btn {
  text-align: center;
  padding: 16px 0 14px;
  border: none;
  letter-spacing: 0.5px;
  border-radius: 50px;
  display: inline-block;
  line-height: 17px;
  font-size: 1.55em;
  height: 50px;
  background: #0dbfef;
  color: #ffffff;

  &.large {
    padding: 17px 32px 13px;
  }
}

.description-content {
  @include margin__top-bottom(20px, 25px);
}

@import './partials/header';
@import './partials/footer';
@import './pages/home';
