@import './vars';
@import './mixins/mixins';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

img {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-family: $fontFamily;
  font-size: 17px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $primaryFontColor;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  opacity: 0.7;
}

.container {
  height: 100%;
  @include margin__left-right-auto();
  @include padding__left-right($left: 15px);

  @include breakpoint-custom($screen-xs-max) {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}

.title {
  font-weight: bold;
  text-transform: capitalize;
  @include font-sizer(34px);
}

.sub-title {
  font-weight: bold;
  @include font-sizer(28px);

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.mini-title {
  text-transform: capitalize;
  @include font-sizer(22px);
}

/* shared page classes */
.description-content {
  @include margin__top-bottom(20px, 25px);
}

.flex-container {
  display: flex;
  @include padding__left-right(50px);
}

.flex-1 {
  flex: 1;

  &.align-center {
    align-self: center;
  }
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

@import './partials/header';
@import './partials/footer';
@import './pages/home';
@import './pages/about';
